*{
    box-sizing: border-box;
}
.container-plans{
    position:relative;
    color:white;
    
}
.plan-card{
    box-shadow: 
    inset 0 -3em 3em rgba(0,0,0,0.1), 
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
  border-radius: 1.5%;
  display: flex;
  flex-direction: row;
  height:500px;
  width:98%;
  margin: auto;
  justify-items: center;
  align-items: center ;
  box-shadow: 0 -2px 10px rgba(250, 250, 250, 0.5);
  
  
}

.plan-select{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center ;
    box-sizing: border-box;
    width:100%;
    border-radius: 5%;
    background-color: beige;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.top-cont{
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.type-card{
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-content: center ;
    height:100px;
    width:150px;
    margin: 50px;
    flex-wrap: wrap;
    cursor: pointer;
}

.type-card img{
    width:150px;
    height:100px;
    position:relative;
}

.type-card p{
   position: absolute;
   font-weight: bold;
    color: black;
}

.plan-details{
    
    width: 100%;
    margin:20px;
    border-radius: 10%;
    float:right;
    
}

h6{
    margin:20px;
}

.mr-2{
    margin:10px;
}

.btn-toolbar{
    display:flex;
    flex-direction: column;
}

#pesca{
    background-color: white;
}

.selected-details{
    border:1px solid white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.type-card::selection{
    color:blue;
}

#plan-button{
    width:150px;
    height:100px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: none;
    border:none;
    flex-wrap: wrap;
    margin:0px;
    padding: 0%;
    box-sizing: border-box;
    
   
}

#plan-button img{
    width:150px;
    height:100px;
    margin:0px;
    padding: 0%;
}

.active #im {
    border: 3px solid rgb(82, 79, 255);
  }

  .people {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
  }
  .people button {
    padding: 0.5rem 2rem;
    background-color: white;
    width: 200px;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #54135a;
  }
  button.active {
    background: #585858;
  }


   h2{
      margin-left:20px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 90;
    }
